


/*estilo geral*/

Html {
    scroll-behavior: smooth;

}

body{
    background-color: black;
    height: 100vh;
    font-family: 'Roboto', sans-serif; /* Aplica a fonte Roboto como fonte padrão */
}

.interface{
    max-width: 1280px;
    margin: 4%;
    position: relative;
    top: -40px;
}

.flex{
    display: flex;
}

.logo{
    position: relative;
    left: -18%;
    top: 22px;

}

h2.titulo{
    color: white;
    font-size: 38px;
    text-align: center;
    
}
h2.titulo span{
    color: #00ff08;

}



.btn-contato button {
    font-family: 'Roboto', sans-serif; /* Aplica a fonte Roboto ao botão com a classe bnt-contato */
    /* Adicione outras propriedades de estilo conforme necessário */
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00ff08;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px #00ff08;
    transform: scale(1.05);

}

/*estilo cabeçario*/

header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 0;

}

header a{
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover{
    color: #fff;
    transform: scale(1.05);
    

}

header nav ul{
    list-style-type: none;
}

header nav.menu-desktop ul li{

    display: inline-block;
    padding: 2% 20px;
}





/* estilo do topo do site */

section.topo-do-site{
    padding: 40px 4%;


}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: #fff;
    font-size: 42px;
    line-height: 40px;


}

.topo-do-site .txt-topo-site h1 span{
    color: #00ff08;
    font-size: 80px;
}

.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0px;


}

.topo-do-site .img-topo-site img{
    border-radius: 50%;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }

}

/*ESTILO DAS ESPECIALIDADES*/

section.especialidades{
    padding: 40px 4%;
    
}

section.especialidades .flex{
    gap: 60px;
    

}
.especialidades .especialidades-box{
    color: #fff;
    padding: 40px;
    
    margin-top: 45px;
    border-radius: 20px;
    transition: .2s;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff78;
    

}


.especialidades .especialidades-box i{
    font-size: 150px;
    color: #00ff08;
        
}

.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;

}

/*ESTILO DO SOBRE*/

section.sobre .img-sobre img{

    border-radius: 5%;
}

section.sobre{
    padding: 80px 4%;

}
section.sobre .flex{
    align-items: center;
    gap: 60px;
    
}

.sobre .txt-sobre{
    color: #fff;

}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre span{
    color: #00ff08;
    display: block;
}
.sobre .txt-sobre p{

    margin: 20px 0;
    text-align: justify;

}

.btn-social button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    background-color: #00ff08;
    font-size: 25px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;

}


/* ESTILO PORTIFOLIO*/

section.portifolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1D;

}

section.portifolio .flex{
    justify-content: space-around;
    display: flex;
    margin-top: 110px;
    align-items: center;
}


.img-port{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 0% 100%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;

}

.img-port:hover{
    background-position: 100% 100%;
}

.portifolio .projeto-1 {
    justify-content: space-between;
}

.portifolio .projeto-1 p {
    text-align: center;
    font-size: 15px;
    margin-bottom: px;
    position: relative;
    bottom: -140px; /* Ajuste a posição vertical conforme necessário */
    color: #00ff08; /* Para garantir que o texto seja visível */
    width: 50%; /* Para garantir que cada nome ocupe metade do espaço disponível */
    margin-left: 0
}

.portifolio .projeto-2 p {
    text-align: center;
    font-size: 15px;
    margin-bottom: 30px;
    position: relative;
    bottom: -99px; /* Ajuste a posição vertical conforme necessário */
    color: #00ff08; /* Para garantir que o texto seja visível */
    width: 50%; /* Para garantir que cada nome ocupe metade do espaço disponível */
    margin-top: 25px;
    margin-left: 555px;
}

.projeto button{
    font-family: 'Roboto', sans-serif; /* Aplica a fonte Roboto ao botão com a classe bnt-contato */
    /* Adicione outras propriedades de estilo conforme necessário */
    padding: 5px 18px;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    background-color: #00ff08;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
     
}
.portifolio .projeto {
    text-align: center;
}
.portifolio .projeto button{
    margin-top: 25px;
    margin-left: 15px;

}



/* FORMULARIO */

section.formulario{
    padding: 80px 4%;

}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;

}
form input, form textarea{
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;

}
form textarea{
    resize: none;

}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input{
    width: 120px;
    background-color: #00ff08;
    color: #000000;
    font-weight: 700px;
    cursor: pointer;
    transition: .2s;
}


/*RODAPE*/

footer{
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff1D;

}

footer .flex{
    justify-content: space-between;

}

footer .line-footer{
    padding: 20px 0;
    
}

.borda{
    border-top: 2px solid #00ff08;
}
footer .line-footer p i{
    color: #00ff08;
    font-size: 22px;

}
footer .line-footer p a{
    color: #fff;
    
}


/* responsivo*/

@media screen and (max-width: 1200px) {
    /*classe geral*/
    .flex{
        flex-direction: column;
    }

    h2.titulo  {
            
        font-size: 30px;
        line-height: 35px;
            
        }

    
    .topo-do-site .flex{
        flex-direction: column-reverse;
    }
    
    /*cabecario*/
    
    .menu-desktop, .btn-contato{
        display:none
    
    }

    /*topo do site*/
    section.topo-do-site .flex{
        gap: 40px;
    }
    


    section.topo-do-site{
        padding: 20px 8%;
    }

    .topo-do-site h1{
        font-size: 30px;

    }
    .topo-do-site	.img-topo-site img{
        width: 100%
    }

    /*especialidades */
    section.especialidades{
        padding: 40px 4%;

    }

    /*sobre*/

    section.sobre{
        padding: 80px 8%;
    
    }
    .sobre .txt-sobre h2{
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }
    .btn-social{
        text-align: center;
    }

    .img-sobre img{
        width: 100%;
    }

    /*Portifolio*/

    .portifolio .projeto-1 p {
        text-align: center;
        font-size: 0;
}

footer .flex{
    flex-direction: column;
    gap: 30px;
}
footer .line-footer{
    text-align: center;

}
}